/* 
    This CSS file and the website itself are in an experimental stage.   
    Nonetheless, this website will be constantly improved and maintained
    and will hopefully be somewhat stable in the next weeks.
*/

body {
    background-color: oldlace;
    color: green;
}

a {
    color: teal;
    font-family: Arial;
    text-decoration: none;
}

a:hover {
    color: brown;
}

h1 {
    color: #000000;
    font-family: Arial;
}

li {
    color: steelblue;
    list-style: none;
    margin-left: 4px;
}

p {
    color: steelblue;
}

span {
    color: red;
}

ul {
    margin: 0px;
    padding: 0px;
}

.codeblock {
    background-color: lavender;
    color: darkblue;
    width: 564px;
    padding-left: 5px;
    padding-bottom: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px #000000;
}

.diffblock {
    background-color: lavender;
    color: darkblue;
    width: 640px;
    padding-left: 5px;
    padding-bottom: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px #000000;
}

.left{
    color: red;
}

.right{
    color: limegreen;
}

.command {
    background-color: lavender;
    color: darkblue;
    margin-left: 2px;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px #000000;
}

#header {
    background-color: papayawhip;
}

#navigation a:hover {
    color: black;
    background-color: antiquewhite;
    cursor: pointer;
}

#navigation li:hover {
    color: black;
    background-color: antiquewhite;
    cursor: pointer;
}

#navigation {
    margin-top: 24px;
    float: left;
}

#navigation ul li {
    list-style: none;
}

#content {
    background-color: oldlace;
    height: auto;
    margin-left: 20px;
    width: 86%;
    float: left;
}

#content p {
    color: darkolivegreen;
}

#content ul li {
    margin-left: 30px;
    list-style: square;
}

#footer{
    background-color: burlywood;
    clear: both;
}

#warning {
    background-color: black;
    color: yellow;
    font-family: Arial;
    padding-left: 4px;
    width: 822px;
    border: 2px dotted yellow;
}
